{% extends "base.html" %}

{% block title %} Signup {% endblock title %}

{% load bootstrap5 %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
      <div class="col-3"></div>
      <div class="col-6 shadow-lg bg-dark p-4 rounded my-4 text-light">
          <h3 class="text-center">{% trans "Register" %}</h3>

          <hr>

          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary text-light right" type="submit">{% trans "Sign Up" %} &raquo;</button>
            <span>Already have an account? Then please  <a class="lnk text-light" href="{{ login_url }}">Login</a></span>

          </form>
      </div>
  </div>
</div>

{% endblock %}
