table, th, td {
    border: 1px solid;
}

.login-button {
    margin-right: auto;
    width: 100px;
}

#hero-img {
    height: 600px;
    width: 100%;
    background: url('../media/restaurant-background.png') no-repeat center center;
    filter: grayscale(90%);
    display: flex;
}