#hero-img {
    background: url('../static/media/restaurant-background.png');
    background-size: cover;
    background-position:center;
    filter: grayscale(90%);
    /* width: 100%;
    height: 500px;
    background-size: cover; */
}

.logout {
    margin-right: auto;
}