{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}

{% load account %}

{% user_display user as user_display %}

<div class="row title-container">
    <div class="col-md-6">
        <h1 class="title ml-5">
            Geraldos
        </h1>
    </div>
    <div class="col-md-6">
        <p class="m-5">
            <img src="{{img.image.url}}" class="review" alt="Positive newspaper review from respected publication">
        </p>
    </div>
</div>

<div class="row p-5">
    {% for home in index %}
    <div class="col-md-4 hp-images m-3">
        <img src="{{home.image.url}}" class="hp-images" alt="slice of pizza">
    </div>
    {% endfor %}
</div>

{% endblock content %}
