{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reservations</a>
          </li>
      </ul>

        <button type="button" class="btn btn-link px-3 me-2 login-button">
          Login
        </button>
  </nav>

<h4>Reservation</h4>

<button onclick="add_reservation()">
    add
</button>

<table>

    <th>Date</th>
    <th>No. of parties</th>

    {% for reservation in reservations %}

    <tr>
        <td>{{reservation.date}}</td>
        <td>{{reservation.parties}}</td>
    </tr>

    {% endfor %}

</table>

{% endblock content %}

<div>
    
</div>