{% extends "base.html" %}

{% block title %} Add reservation {% endblock title %}

{% load bootstrap4 %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-3">

        </div>
    <div class="col-6 shadow-lg my-4 p-4 rounded bg-dark text-light">
        <form action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-light">
        </form>
    </div>

    </div>

</div>

{% endblock content %}