{% extends "base.html" %}

{% block title %} Reservations {% endblock title %}

{% block content %}

<div class="mx-5">
    <a class="btn btn-primary m-5 mx-auto" href= "/reservation">Add</a>

    <table class="table table-striped" >
        <thead class="table-dark">
           <tr>
               <th scope="col">ID</th>
               <th scope="col">Date</th>
               <th scope="col">Time</th>
               <th scope="col">Parties</th>
               <th></th>
               <th></th>
           </tr>
        </thead>
        <tbody class="bg-light">
            {% for reservation in reservations %}
            <tr>
                <td>{{reservation.id}}</td>
                <td>{{reservation.date}}</td>
                <td>{{reservation.time}}</td>
                <td>{{reservation.parties}}</td>
                <td> <a href="{% url 'updateReservation' reservation.id %}" class="btn btn-success">Update</a></td>
                <td> <a href="{% url 'deleteReservation' reservation.id %}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    {% if success == 'y' %}

    <!-- modal popup -->

    <div class="modal fade" id="success-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-light">
                    <h5 id="modal-bg">Thank you!</h5>

                </div>
                <div class="modal-body">
                    <span>We will be in touch to confirm your booking</span>

                </div>

            </div>

        </div>

    </div>
    {% endif %}

    <!-- end modal -->


</div>

{% endblock content %}